h1 {
	color: blue;
}

body {
	background-image: url("../img/forest 2.jpg");
	background-size: cover;
}
.heading{font-family: futura,arial
font-size: 75px;
color: white;
.container {
	color :white;

.navbar-brand {
	float: left;

}
.nav-link {float: right;
}
.navbar {
	background: }
	
nav a:visited {
	color: white;
}